/*.slide{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    width:60vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
    height: auto;
    
    margin-bottom: 2rem;;
 
}*/
.uno img{
width: 100%;
max-width: 250px;  
min-height: 200px;
max-height: 250px;  
object-fit: contain;
      
}

.uno .imagen-wrap {
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.uno .boton{
    display: flex;
    gap:20px;
   
}
.uno .boton button{
 border-radius: 10px;
    font-size: 20px;
    min-width: 150px;
    color:rgb(9, 255, 0);
    background-color: rgb(95, 95, 95);
    border: 2px solid rgb(9, 255, 0);
    font-weight: 700;

}
.uno .boton button:hover{
    background-color: rgb(9, 255, 0);
    color: rgb(95, 95, 95);
    border: 2px solid rgb(95, 95, 95)
    
}