.cuerpo{ 
 min-height: 70vh;
 width: 80vw;
 position: relative; 
 margin-left: auto;
 margin-right: auto;
 margin-top: 40px;
 margin-bottom: 5rem;
 text-align: center;
}

h2{
    margin-bottom: 40px;
}

.cuerpo ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin-bottom: 5rem;
    margin-top: 3rem;
    row-gap: 2rem;
    column-gap: 2rem;
    
   
}

li{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}



.item img{
    width: 100%;       
    max-width: 200px;  
    max-height: 200px;
  
    
    
}
.item img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.item-acciones {
    display: flex;
    gap: 4rem;
    margin-top: 8px;
    width: 100%;
    justify-content:center;
    
    
    
}

.item-acciones button {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    
    
}

.item-acciones button:hover {
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.9));
}