.navbar{
   background:#41a6ed;
   display: flex;
   justify-content: space-around;
   position: relative; 
   margin-left: auto;
   margin-right: auto;
   flex-wrap: wrap;
   border-radius: 20px;
   width:95vw;

}

.navbar a{
color:white;
font-size: 1.2rem;
text-decoration:none;
margin: 10px;
}

.navbar a:hover{
   transform: scale(1.2);
   font-weight: 800;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar a {  
  width: 95%;
  text-align: center;
  margin: 0;
  }
}