.navbar{
     background:#0a3d62;
   padding:10px;
   display: flex;
   justify-content: space-around;
     flex-wrap: wrap;
}

.navbar a{
    color:white;
    font-size: 1.2rem;
    text-decoration:none;

}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}