.container{

width: 3rem;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: fixed;
top:40%


}

.icono{
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.face{
    width:  2rem;
}
.insta{
    width:   2rem;
  border-radius: 50%;
}
.twitch{
    width:  2rem;
  
}
.link{
    width:  2rem;
}